{
  presets: [
    //[ 'latest', { es2015: { modules: false } } ],
    [ 'latest' ],
    [ 'react' ],
    'stage-0',
  ],
  ignore: [
    'node_modules/nunjucks/*',
    'node_modules/core-js/*',
  ],
  //sourceMaps: 'inline',
  plugins: [
    'transform-flow-strip-types',
    ///*
    ['transform-es2015-modules-umd', {
      'globals': {
        'jquery': 'jQuery'
      }
      //exactGlobals: true
    }]
    //*/
    //'transform-es2015-modules-umd'
  ]
}
