// -*- mode: stylus -*-


////
/// Rabbit/Util Grid.
///
/// @namespace util.
/// @author Rabbit<yfhj1990@hotmail.com>
////




///
// _u-clearfix
//
// Clearfix required.
//
// @mixin
// @private
///
_u-clearfix()
  ctx " "
  dis tb


///
// u-clearfix
//
// Clear float.
//
// @mixin
//
// @param {boolean} [$ie8=false]
// @param {boolean} [$ie6=false]
///
u-clearfix($ie8 = false, $ie6 = false)

  &:after
    _u-clearfix
    clear both

  if $ie8
    &:before
      _u-clearfix

  if $ie6
    *zoom: 1


///
// u-row
//
// Float Base or Flex Base layout, default use `float`.
//
// @mixin
//
// @param {unit} [$gutter=1.5rem] - Grid gutters.
// @param {boolean} [$flex=false] - Switch to flex.
///
u-row($gutter = 1.5rem, $flex = false)

  mx -($gutter / 2)
  
  if !$flex
    u-clearfix
  else
    dis flex
    flex 0 1 a
    flexd row
    flexw wrap
    

// Grid.
// @mixin

u-grid($gutter = 1.5rem, $last = false, $flex = false)

  px ($gutter / 2)

  if !$flex
    fl $last ? r : l
  else
    flex 1 0 a
    flexd col


///
// Export.
// @mixin
///

u-grid-export(
  $gutter = 1.5rem,
  $bRow   = "row",
  $bGrid  = "grid",
  $isFlex = false,
  $isMixinWidth = false,
  $isExportRow  = true,
  $isExportGrid = true,
  $isExportGridOffset = false,
  $isExportGridPull = false,
  $isExportGridPush = false,
  $isExportGridLast = false,
  $isLastMixinWidth = false,
  $mGridLast = "last"
)

  // Export Row basic.
  if $isExportRow
    .{$bRow}
      u-row $gutter $isFlex

      
  // Export Grid basic.
  if $isExportGrid
    .{$bGrid}
      u-grid $gutter $isExportGridLast $isFlex

      
  // Export Grid from right.
  if $isExportGridLast
    .{$bGrid}-{$mGridLast}
      u-grid $gutter $isExportGridLast
