///
/// Layout.
///


/// Grid base.

layout-grid-base()
  .row:after
    ctx: ' '
    dis table
    clear both

  .grid
  .grid-last
    box bdbox

  .grid
    fl l

  .grid-last
    box bdbox
    fl r


/// Width

// grid base

layout-width-base($grid = 12)
  .width
    for num in (1..$grid - 1)
      &--{num}
        w percentage(num / $grid)

layout-width-hundred()
  .width
    for num in (1..9)
      n = num * 10
      &--{n}-h
        w percentage(n / 100)

layout-width-fraction()
  .width
    for num in (1..9)
      &--{num}-f
        w percentage(1 / num)

layout-width-special()
  .width--a
    w a
  .width--f
    w 100%
  .width--h
    w 50%
  .width--0
    w 0


/// Margin

layout-mar-bottom()
  .marb
    mb 1rem
  .marb--s
    mb 0.5rem
  .marb--xs
    mb 0.25rem
  .marb--l
    mb 1.5rem
  .marb--xl
    mb 2rem
  .marb--xxl
    mb 3rem


/// Padding

layout-pad()
  .pad
    pad 1rem
  .pad--s
    pad 0.5rem
  .pad--xs
    pad 0.25rem

layout-pad-x()
  .pad-x
    pad 1rem
  .pad-x--s
    pad 0.5rem
  .pad-x--xs
    pad 0.25rem

layout-pad-y()
  .pad-y
    pad 1rem
  .pad-y--s
    pad 0.5rem
  .pad-y--xs
    pad 0.25rem

layout-pad-l()
  .pad-l
    pad 1rem
  .pad-l--2x
    pad 2rem
  .pad-l--3x
    pad 3rem


/// Container

layout-con-base(w = 100%)
  .con
    mx a
    w w


layout-text-center()
  .tac
    ta cen   


/// List



/// Card

/// Grid
