reset-space()
  pa 0
  ma 0
  bd 0


reset-font()
  fz 100%
  fw n
  fs n
  ff ext
  lh 1
  va base

reset-theme()
  bgc a0
  cc ext

reset-body(ff, fz, c, bgc)
  ff ff
  fz fz
  lh 1
  cc c bgc
  ovx h
  ovy a

reset-box()
  html
    box bdbox
  *, *:before, *:after
    box ext

reset-list()
  lity no

  &
  & > li
    reset-space()


reset-a()
  a
    dis ib
    cc ext
    td none
    