@require "styles/reset"
@require "styles/container"
@require "styles/typo"

*, *:before, *:after
  box bdbox

center-container(w)
  maw w
  mx a

.row:after
  content " "
  display table
  clear both

.grid
  float left
.grid-last
  float right

a
  reset-theme()
  text-decoration none
  dis ib

/*
 * test.
 */
body
  reset-box()
  reset-font()
  reset-theme()
  reset-space()

pc = #0d73da


.navbar-contianer
  bg rgba(0, 0, 0, 0) linear-gradient(to bottom, #086ed5, #055db5)
  bgc green
  c #fff

.navbar
  center-container(64rem)

  &__logo
    py 0.5rem
    mr 1rem
  &__search
    py 0.5rem
  &__qa
    py 0.5rem
  &__user
    py 0.5rem
    ml 2rem
  &__username
    py 0.5rem
    px 1rem
    

.logo
  fz 2rem    

.field
  reset-theme()
  w 100%
  &__label
    dis bl


.search
  pos rela
  &__btn
    pos abso
    bottom 0
    right 0
    top 0
    bd 1px solid #055db5
    bdl 0
    bdrzr 4px
    pad 0.25rem 1rem
    

.field-search
  bdr 4px
  bgc #f5f5f5
  pad 0.5rem 0.8rem
  bd 1px solid #aaa
  
.btn
  reset-theme()
  bgc pc
  pad 0.5rem 0.8rem
  fz 14px

.menu
  list-style-type none
  fz 14px
  cc #eee
  &__item
    dis ib
    pad 0.25rem 0.8rem

.avatar
  size 2rem
  bdrz 4px
  dis ib
  img
    w 100%
    h a