// -*- mode: stylus -*-


////
/// Rabbit/Function Direction.
///
/// @namespace function.
/// @author Rabbit<yfhj1990@hotmail.com>
////



///
// isAll
//
// Test if direction is All.
//
// @param {direction} $dir
// @return {boolean}
///
isAll($dir)
  $dir == a


///
// exceptDefaultSelector
//
// Used for make selector. If $dir is the default value, return itself, otherwise return name with direction.
//
// @param {string} $se
// @param {direction} $dir
// @return {string}
///
exceptDefaultSelector($se, $dir = a)
  $se1 = s($se)
  $dir1 = s($dir)

  isAll($dir)
    ? '%s' % ($se1)
    : '%s-%s' % ($se1 $dir1)
