{% import "tpls/macros.html" as $ %}

{% block content %}
<section class="gg-container">
  <canvas id="gg" class="gg"></canvas>
</section>

<aside class="side-person">
  <ul class="person">
    <li>
      <a href="#" class="person-item">
	      <div class="avatar">
	        <img alt="avatar" class="avatar__img" src="https://avatars3.githubusercontent.com/u/5752902?v=3&s=460" />
	      </div>
      </a>
    </li>
    <li class="item">
      <a href="#">
	      <div class="avatar">
	        <img alt="avatar" class="avatar__img" src="https://avatars3.githubusercontent.com/u/5752902?v=3&s=460" />
	      </div>
      </a>
    </li>
  </ul>
</aside>

<aside class="side-menu">
  <header class="menu-title">MENU</header>
  <nav><ul class="menu">
      <li><a href="#" class="menu-item active">rabbit profile</a></li>
      <li><a href="#" class="menu-item">emacs yasnippets</a></li>
      <li><a href="#" class="menu-item">written blog</a></li>
      <li><a href="#" class="menu-item">projects</a></li>
      <li><a href="#" class="menu-item">music player</a></li>
      <li><a href="#" class="menu-item">inject helps</a></li>
      <li><a href="#" class="menu-item">builder infomation</a></li>
      <li><a href="#" class="menu-item">github live</a></li>
  </ul></nav>
</aside>


<main id="main" class="body">

  
</main>
{% endblock %}


{% block styles %}
{{ $.css("index") }}
{% endblock %}


{% block scripts %}
{{ $.js("vendor.dll") }}
{{ $.js("tool.dll") }}
{{ $.js("commons") }}
{{ $.js("index") }}
{% endblock %}


{% extends "tpls/page.html" %}

